@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Titan+One&display=swap");

/* Variable */
:root {
  --bg-color: linear-gradient(176.4deg, #f5c644 1.5%, #f5c644 122.41%);
  --brown-bg: #c37004;
  --light: #ffffff;
}

/* Utility */
.flex {
  display: flex;
}

.blur-bg {
  background: rgba(195, 112, 4, 0.32);
  backdrop-filter: blur(6px);
}
.image1,
.chart-sm {
  display: block;
}

.image2,
.chart-lg {
  display: none;
}

.title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 24px auto;
}
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--light);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Main container */
.container {
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
}

/* Hero section */
#hero-section {
  height: 100vh;
  position: relative;
  background: url("images/BG.png") center center/cover no-repeat;
  background-position-y: top;
}

.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.4s;
  padding: 10px 0;
}

.header-bg {
  background-color: rgba(195, 112, 4, 0.52);
  backdrop-filter: blur(6px);
}

.main-nav {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.link-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: var(--brown-bg);
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}

.logo-bg {
  width: 50px;
  height: 50px;
  background-color: var(--brown-bg);
  border-radius: 50%;
}

.social-links {
  display: flex;
}

.social-icon {
  /* font-size: 16px !important; */
  color: var(--light);
  margin: 0 10px;
}

.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(195, 112, 4, 0.52);
  padding-left: 1rem;
  padding-top: 1rem;
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: 0.4s;
}
.active {
  transform: translateX(100%);
}

.nav-links a {
  display: block;
  color: var(--light);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Titan One", cursive;
  transition: 0.4s;
}

.nav-links a:hover {
  color: var(--brown-bg);
  transform: scale(1.1);
}

.close {
  font-size: 2rem;
  margin-left: right;
  padding-right: 1rem;
  text-align: right;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: 0.4s;
  transform-origin: right;
}

.close:hover {
  color: var(--brown-bg);
  transform: scale(1.1);
}

.toggler {
  margin-left: 3rem;
}

/* cta */
.cta-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-buttons {
  transform: translateY(50px);
}

.cta-btn {
  font-family: "Titan One", cursive;
  color: var(--light);
  font-weight: 400;
  font-size: 16.1px;
  line-height: 11px;
  margin: 0 1rem;
  background-color: var(--brown-bg);
  padding: 10px 28.2353px;

  border-radius: 22.2353px;
  box-shadow: 0px 4px 5px rgba(205, 205, 205, 0.7);
}

.cactus-sm {
  width: 26px;
  position: absolute;
  bottom: -20px;
  left: 72px;
}

/* Features */
#features {
  padding-bottom: 45px;
}

.feature {
  font-family: "Montserrat", sans-serif;
  max-width: 260px;
  height: 65px;
  margin: 0 auto 14.7px auto;
  border-radius: 19.6226px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14.717px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  margin-right: 0.8rem;
  line-height: 1.8 !important;
  font-size: 1.2rem;
}

/* About Section */
#about {
  padding: 31px 0px 32.9px 0px;
  position: relative;
  margin-bottom: 52px;
}

.about-image {
  width: 224px;
  margin: 0 auto;
  background-color: var(--brown-bg);
  border-radius: 16px;
}

.about-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  max-width: 338px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.whitepaper {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 11.7059px;
  line-height: 15px;
  text-align: center;
  margin: auto;
  margin-top: 16px;
}

.whitepaper a {
  color: var(--light);
  background-color: var(--brown-bg);
  padding: 5px 20px;
  border-radius: 30.7279px;
}

.rock {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 244px;
}

/* How to buy  */
#how-to-buy {
  position: relative;
}

#how-to-buy .title {
  padding-bottom: 1rem;
}

.card {
  padding: 48px 16px 16px;
  gap: 2.41px;
  max-width: 398px;
  background: rgba(195, 112, 4, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  margin: 35.13px auto;
  position: relative;
}

.card-image-container,
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card-image-container {
  border: solid 4.83px rgba(255, 255, 255, 0.22);
  margin: 0 auto;
  width: 64.13px;
  height: 64.13px;
  position: absolute;
  top: -30;
  left: 50%;
  transform: translate(-50%);
}

.card-image {
  width: 55.48px;
  height: 55.48px;
  background-color: var(--brown-bg);
  border: solid 4.82px rgba(255, 255, 255, 0.52);
}

.card-image img {
  width: 32px;
  height: 32px;
}

.card-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.card-text {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17px;
  margin-top: 0.5rem;
}

.hill {
  position: absolute;
  left: 0;
  bottom: -35;
  width: 270px;
  z-index: -1;
}

/* Tokenomics http://localhost/5500 */
#tokenomics {
  padding-top: 100px;
  position: relative;
}

.token-container {
  max-width: 398px;
  background: var(--brown-bg);
  backdrop-filter: blur(1.80909px);
  border-radius: 16px;
  padding: 17.4879px 16px;
  margin: 0 auto;
}

.token-container .title {
  margin: initial;
  text-align: start;
}

.token-image {
  position: absolute;
  width: 120px;
  border-radius: 16px;
  top: -75;
  right: 20;
  background: rgba(195, 112, 4, 0.72);
  backdrop-filter: blur(6px);
}

.token-footer {
  margin-top: 1rem;
}

.token-footer div {
  margin: 0 2rem 0 1.5rem;
}

/* Charts */
#charts {
  margin-bottom: 3rem;
}

.chart {
  width: 183.9px;
  margin: 0 auto;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 1.8rem;
}

/* Roadmap */
#roadmap {
  position: relative;
}

.phases {
  max-width: 398px;
  margin: 0 auto;
  padding-top: 50px;
}

.phase {
  padding: 0px 0px 30px 40px;
  border-left: solid 7px var(--brown-bg);
  position: relative;
}

.phase::before {
  content: "";
  width: 22px;
  height: 22px;
  background: var(--brown-bg);
  border-radius: 5.5px;
  position: absolute;
  top: 0;
  left: -15;
}

.phase:last-child {
  border-left-color: transparent;
}

.phase .card-title {
  margin-bottom: 20px;
}

.cactus-lg {
  position: absolute;
  width: 50px;
  bottom: 160;
  right: 100;
  z-index: -1;
}

/* Swiper */
.swiper {
  max-width: 398px;
  margin: 74.1px auto 50px auto;
  height: 112px;
}

.swiper img {
  width: 112px;
  height: 112px;
}

/* Community */
.comm-container {
  max-width: 398px;
  background: var(--brown-bg);
  backdrop-filter: blur(1.80909px);
  border-radius: 16px;
  padding: 17.4879px 16px;
  margin: 0 auto;
}

.comm-container .title {
  margin: initial;
  text-align: center;
}

.comm-context .social-links {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.comm-context .social-icon {
  font-size: 14px;
  text-align: center;
  color: var(--brown-bg);
  background-color: var(--light);
  padding: 5px;
  height: inherit;
  width: inherit;
}

/* Subscribe */

#subscribe {
  background: url("images/Desert.png") center center/cover no-repeat;
  padding-top: 50px;
  background-position-y: 100px;
  padding-bottom: 20px;
}

#subscribe .card-title {
  text-align: center;
  margin: 15px auto 25px auto;
}

.sub-image {
  width: 120px;
  margin: 0 auto;
  background-color: var(--brown-bg);
  border-radius: 16px;
}

.sub-form {
  display: block;
  margin: 10px auto;
  border: none;
  outline: none;
  width: 230px;
  height: 32.52px;
  background: rgba(195, 112, 4, 0.5);
  backdrop-filter: blur(3.09677px);
  border-radius: 32.5161px;
  color: var(--light);
  padding: 0 20px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 12.3871px;
}

.sub-form::placeholder {
  text-align: center;
  color: var(--light);
  font-family: "Titan One";
  font-weight: 400;
  font-size: 12.3871px;
}

.sub-submit {
  display: block;
  width: 150px;
  height: 32.52px;
  background: var(--brown-bg);
  border-radius: 32.5161px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  color: var(--light);
  font-family: "Titan One";
  font-weight: 400;
  font-size: 12.3871px;
  line-height: 15px;
}

/* Footer */
footer {
  padding: 15px 0;
  color: white;
  background-color: var(--brown-bg);
  font-family: "Titan One";
  font-size: 16px;
  text-align: center;
}

.hidden-text {
  display: none;
}

@media (min-width: 915px) {
  .container {
    max-width: 1200px;
  }

  .title {
    font-size: 56px;
  }
  /* Feature */
  .feature-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature {
    font-size: 18px;
    margin: 0 auto;
    padding: 20px 40px;
  }

  /* About */

  #about .about-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-image {
    flex: 2;
  }

  .about-content {
    margin-left: 40px;
    flex: 2;
  }

  .about-image {
    max-width: 448px;
  }

  .about-title {
    text-align: left;
  }

  .about-text {
    max-width: 816px;
    line-height: 24px;
  }
  .whitepaper {
    text-align: left;
  }

  .whitepaper a {
    font-size: 25px;
    text-align: left;
    padding: 10px 20px;
    display: inline-block;
  }

  /* How to buy */

  .card-image-container {
    position: static;
    transform: translateX(-45%);
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    max-width: 800px;
    height: 184px;
  }

  .card-image-container {
    width: initial;
    height: initial;
    flex: 1;
  }

  .card-image {
    width: 184px;
    height: 184px;
  }

  .card-image img {
    width: 110.08px;
    height: 110.08px;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card:nth-child(even) .card-image-container {
    transform: translateX(45%);
  }

  /* Tokenomics */
  .token-container {
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: rgba(195, 112, 4, 0.5);
  }

  .token-image {
    position: static;
    width: 448px;
    height: initial;
    flex: 1.3;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .token-context {
    flex: 2;
    padding: 20px;
    margin-left: 10px;
  }

  .token-footer div {
    background-color: rgba(195, 112, 4, 0.72);
    padding: 16px 32px 16px 32px;
    border-radius: 25px;
  }

  .hidden-text {
    display: block;
    margin: 1rem 0px;
    margin-top: 2rem;
  }
  .image1 {
    display: none;
  }

  .image2 {
    display: block;
    width: 320px;
  }

  /* Charts */
  .chart-lg {
    display: block;
  }
  .chart-sm {
    display: none;
  }

  .chart-container {
    margin: 4rem auto;
  }

  .chart-image {
    width: 348px;
    margin: 0 auto;
  }

  .chart-content {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .chart-content p {
    position: relative;
    margin-left: 4rem;
  }

  .chart-content p::before {
    content: "";
    background-color: var(--brown-bg);
    margin-right: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30;
    border-radius: 5px;
  }

  /* Road map */

  .phases {
    display: flex;
    max-width: 800px;
  }
  .phase {
    border-top: solid 7px var(--brown-bg);
    border-left: none;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 30px;
  }

  .phase::before {
    top: -15;
  }

  .phase:last-child {
    border-top-color: transparent;
  }

  /* community */
  .comm-container {
    max-width: 800px;
  }

  .comm-container .title {
    margin: 2rem 0;
  }

  .swiper {
    max-width: 800px;
    height: 212px;
  }

  .swiper img {
    width: 212px;
    height: 212px;
  }
  /* subcribe */
  #subscribe {
    background-position-y: -200px;
    margin-top: 50px;
  }

  .form-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    text-align: start;
  }

  .form-container .card-title {
    text-align: start !important;
    font-size: 1.8rem;
  }

  form {
    margin-left: 30px;
  }
  .sub-image {
    width: 248px;
  }
  .sub-form {
    margin-left: 0;
    height: 56px;
    width: 400px;
  }

  .sub-form::placeholder {
    font-size: 1rem;
    text-align: start;
  }

  form,
  .sub-form {
    flex: 1;
  }

  .sub-submit {
    font-size: 1.3rem;
    margin-left: 0;
  }

  /* reset */
  .active {
    transform: translateX(0%);
  }

  .toggler,
  .close {
    display: none;
  }

  .nav-links {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brown-bg);
    padding: 0px 5px;
    backdrop-filter: blur(0px);
    transition: 0.4s;
    margin: 0 10px;
    border-radius: 88px;
    width: 620px;
    height: 50px;
  }

  .nav-links a {
    display: inline-block;
    color: var(--light);
    font-size: initial;
    transition: 0.4s;
    margin: 0px 10px;
  }
  .main-nav {
    align-items: center;
  }

  .nav-links a:hover {
    color: var(--light);
    transform: scale(1.1);
  }
}
